@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:300,400,700);
*{margin: 0; padding: 0; font-family: 'Alegreya Sans', Arial, sans-serif;	text-transform: uppercase}
*, *::after, *::before{-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video{margin:0; padding:0; border:0; font-size:100%;	font-style:normal; vertical-align:baseline;	font-family:'Alegreya Sans', Arial, sans-serif; color:#fff; font-weight:300}
a{display:block;text-decoration:none}
html{width:100%; background:#d2d2d2; height:100%; margin:auto; display:table-cell}
main{background:#fff; position:relative}
body{font-size:14px; width:100%; height:100%; margin:auto; background:#fff; line-height:1}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display:block}
ol, ul{list-style:none}
li{list-style:none}
blockquote, q{quotes:none}
/*footer, main, .container{height:100%; display:table-row}*/
blockquote:before, 
blockquote:after,
q:before, 
q:after{content:''; content:none}
table{border-collapse:collapse; border-spacing:0}
input, textarea{background:#fff}
textarea:disabled, input:not([type]):disabled, input[type='color' i]:disabled, input[type='date' i]:disabled, input[type='datetime' i]:disabled, input[type='datetime-local' i]:disabled, input[type='email' i]:disabled, input[type='month' i]:disabled, input[type='password' i]:disabled, input[type='number' i]:disabled, input[type='search' i]:disabled, input[type='tel' i]:disabled, input[type='text' i]:disabled, input[type='time' i]:disabled, input[type='url' i]:disabled, input[type='week' i]:disabled{background:#fff}
img{width:100%; display:block}
button, input[type="submit"]{font-size:14px; background:none; border:none}
button:focus{outline:none; cursor:pointer}
input[type="submit"]:focus{outline:none; cursor:pointer}
.blind,
legend{opacity:0.0; font-size:1px; text-indent:-99999px; position:absolute}